.sidebar {
  padding: 1rem;
  width: 240px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: none !important;
    border-right: 1px solid #e5e7eb;
  }

  .content-wrapper {
    margin-left: 240px; /* must match .sidebar width */
  }
}

.form-select {
  border-radius: 6px;
  font-size: 14px;
}
